

#btnSi{
    -fx-font-size: 22;
    -fx-font-family: "Gill Sans MT";
    -fx-text-fill: "black";
    -fx-alignment: center;
    -fx-background-color : #40fd5c;
    -fx-background-radius: 22 22 22 22; 
}

#btnNo{
    -fx-font-size: 22;
    -fx-font-family: "Gill Sans MT";
    -fx-text-fill: "black";
    -fx-alignment: center;
    -fx-background-color : #ff4848;
    -fx-background-radius: 22 22 22 22; 
}

.button
{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-text-fill: "black";
    -fx-alignment: center;
    -fx-background-color : #b0fcff;
    -fx-background-radius:  22 22 22 22; 
}

.button:hover
{
    -fx-background-color : #eeafaf;
}

.button:pressed
{
    -fx-background-color : #87c0fa;
}
